---
layout: default
title: Home
---

{% include masthead.html %}

<div class="container">
  <section class="spash splash-tease mb-2 px-1" id="music">
    <h2 class="mb-1 text-h3">Latest Release</h2>

    <a href="/heat-in-the-home">
      <article class="splash-album">
        <div>
          <img alt="Jyotisha album artwork" class="rounded" src="assets/images/heat-in-the-home.jpg">
        </div>
        <div class="splash-album-text">
          <h3 class="text-h4 white">Heat in the Home (feat. Ramona Green)</h3>
          <span class="font-secondary pink" href="/heat-in-the-home">Listen</span>
        </div>
      </article>
    </a>
  </section>
</div>

<div class="container">
  <section class="discog mb-2 px-1">
    <h2 class="mb-1 text-h3">Discography</h2>

    <div class="discog-grid d-flex">
      <article>
        <a class="font-secondary pink" href="/jyotisha">
          <img alt="Jyotisha album artwork" class="rounded" src="assets/images/jyotisha.jpg" />
        </a>
      </article>

      <article>
        <a class="font-secondary pink" href="https://music.apple.com/us/album/first-flight-single/1522798978">
          <img alt="First Flight album artwork" class="rounded" src="assets/images/first-flight.jpg" />
        </a>
      </article>

      <article>
        <a class="font-secondary pink" href="https://music.apple.com/us/album/its-a-feeling-single/1445480107">
          <img alt="It's a Feeling album artwork" class="rounded" src="assets/images/its-a-feeling.jpg" />
        </a>
      </article>

      <article>
        <a class="font-secondary pink" href="https://music.apple.com/us/album/we-are-lovers-ep/1421518090">
          <img alt="We Are Lovers album artwork" class="rounded" src="assets/images/we-are-lovers.jpg" />
        </a>
      </article>
    </div>
  </section>
</div>

<div class="container">
  <section class="live mb-2 px-1" id="live">
    <h2 class="mb-1 text-h3">Live</h2>

    <div class="live-list">
      <article class="d-flex">
        <div>
          <time class="font-600 text-h6 text-tracked" datetime="2025-02-26">Feb 26, 2025</time>
          <h3 class="text-h4">Maha Shivaratri</h3>
          <h4 class="text-h6">Kalamazoo, MI</h4>
        </div>
        <a class="btn btn-rounded font-600 white" style="pointer-events: none;" href="#">RSVP</a>
      </article>
    </div>
  </section>
</div>

{% comment %}
<section class="mb-2 px-1" id="blog">
  <h2 class="mb-1 text-h3">Blog</h2>

  <div>
    <article class="mb-1">
      <a class="white" href="#">
        <time class="font-600 text-h6 text-tracked" datetime="">Date</time>
        <h3 class="text-h4">Title of Post</h3>
      </a>
    </article>

    <article class="mb-1">
      <a class="white" href="#">
        <time class="font-600 text-h6 text-tracked" datetime="">Date</time>
        <h3 class="text-h4">Title of Post</h3>
      </a>
    </article>

    <article class="mb-1">
      <a class="white" href="#">
        <time class="font-600 text-h6 text-tracked" datetime="">Date</time>
        <h3 class="text-h4">Title of Post</h3>
      </a>
    </article>
  </div>
</section>
{% endcomment %}

{% include footer.html %}
