<footer class="container mb-1 px-1" id="contact">
  <h2 class="mb-1 text-h3">Contact</h2>
  <p class="mb-2 text-h4">For booking or general inquires: <a class="font-secondary pink" href="mailto:samvidmusic@gmail.com">samvidmusic@gmail.com</a></p>

  <div>
    <h3 class="mb-1 text-h4">Connect with Samvid</h3>

    <ul class="list-reset mb-2">
      <li>
        <a class="font-secondary pink" href="https://samvid.bandcamp.com/">Bandcamp</a>
      </li>
      <li>
        <a class="font-secondary pink" href="https://www.facebook.com/samvidmusic">Facebook</a>
      </li>
      <li>
        <a class="font-secondary pink" href="https://www.instagram.com/samvid_music/">Instagram</a>
      </li>
      <li>
        <a class="font-secondary pink" href="https://soundcloud.com/samvid_music">SoundCloud</a>
      </li>
      <li>
        <a class="font-secondary pink" href="https://www.youtube.com/@samvid_music">YouTube</a>
      </li>
    </ul>
  </div>

  <p class="mb-1 text-h4">
    <dfn>Samvid</dfn> is the light of consciousness by which anything is known. It is one without a second&mdash;the meaning of love.
  </p>

  <p>&copy; Samvid &middot; Built with love in Kalamazoo</p>
</footer>
