<header class="masthead container mb-2 p-1">
  <div class="masthead-brand d-flex">
    <img alt="Samvid Music logo" src="assets/images/logo.png" />
    <h1 class="text-h4 text-tracked">
      <a class="white" href="/">Samvid</a>
    </h1>
  </div>
  <nav class="masthead-nav font-secondary">
    <ul class="d-flex list-reset">
      <li><a class="pink" href="/#music">Music</a></li>
      <li><a class="pink" href="/#live">Live</a></li>
      <li><a class="pink" href="https://www.instagram.com/samvid_music/">Blog</a></li>
      <li><a class="pink" href="/#contact">Contact</a></li>
    </ul>
  </nav>
</header>
