* {
  box-sizing: border-box;
  margin: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.25;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  transition: all .2s ease-in-out;
}

// Masthead

.masthead {
  border-bottom: 1px solid var(--grey);
}

@media (min-width: 540px) {
  .masthead {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.masthead-brand {
  margin-bottom: .5rem;

  img {
    display: inline;
    height: 32px;
    margin-right: .5rem;
  }
}

@media (min-width: 540px) {
  .masthead-brand {
    margin-bottom: 0;
  }
}

.masthead-nav {
  ul > li {
    margin-right: 1rem;
  }
}

// Splash

.discog-grid {
  flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;

  article {
    padding: .5rem;
    width: 50%;
  }
}

// Live

.live-list {
  article {
    align-items: flex-end;
    border-bottom: 1px solid var(--grey);
    justify-content: space-between;
    padding-bottom: 1rem;
  }
}

// Music Service

.music-service-list {
  li {
    border-bottom: 1px solid var(--grey-light);
    padding-bottom: .75rem;
    padding-top: .75rem;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}

// Utlility

.btn {
  background: none;
  border: 1px solid var(--white);
  color: inherit;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  padding: .5rem 1rem;
}

.btn-grey {
  background-color: var(--grey-light);
  color: var(--grey-dark);
}

.btn-rounded {
  border-radius: 6px;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.copy-feedback {
  background-color: var(--pink);
  position: fixed;
  right: 2rem;
  top: 2rem;
  transform: translate(-50%, -50%);
  transform: translateY(-50%);
  transform: translateY(-50%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.copy-feedback.is-visible {
  opacity: 1;
  transform: translateY(0);
}
