:root {
  --font-family-primary: 'avenir next', avenir, sans-serif;
  --font-family-secondary: monaco, melno, monospace;

  --text-h1: 3rem;
  --text-h2: 2.5rem;
  --text-h3: 2rem;
  --text-h4: 1.5rem;
  --text-h5: 1rem;
  --text-h6: .875rem;

  --grey-dark: #433a35;
  --grey: #8a7c7c;
  --grey-light: #dfdbd8;
  --pink: #e6c3b9;
  --white: #fff;
}
